USE [master]
GO
/****** Объект:  Database [FurnitureManufacturing]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
CREATE DATABASE [FurnitureManufacturing]
GO
USE [FurnitureManufacturing]
GO
/****** Объект:  Table [dbo].[Contractors]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contractors](
	[ContractorID] [int] IDENTITY(1,1) NOT NULL,
	[ContractorCode] [nvarchar](20) NOT NULL,
	[ContractorName] [nvarchar](255) NOT NULL,
	[INN] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ContractorTypeLinks]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractorTypeLinks](
	[ContractorID] [int] NOT NULL,
	[ContractorTypeID] [int] NOT NULL,
 CONSTRAINT [PK_ContractorTypeLinks] PRIMARY KEY CLUSTERED 
(
	[ContractorID] ASC,
	[ContractorTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ContractorTypes]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractorTypes](
	[ContractorTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractorTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CostCalculationMaterials]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostCalculationMaterials](
	[CostCalculationMaterialID] [int] IDENTITY(1,1) NOT NULL,
	[CostCalculationID] [int] NOT NULL,
	[NomenclatureID] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CostCalculationMaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CostCalculationOperations]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostCalculationOperations](
	[CostCalculationOperationID] [int] IDENTITY(1,1) NOT NULL,
	[CostCalculationID] [int] NOT NULL,
	[NomenclatureID] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CostCalculationOperationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CostCalculations]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostCalculations](
	[CostCalculationID] [int] IDENTITY(1,1) NOT NULL,
	[NomenclatureID] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[CalculationDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CostCalculationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CustomerOrderItems]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOrderItems](
	[CustomerOrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerOrderID] [int] NOT NULL,
	[NomenclatureID] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerOrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CustomerOrders]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOrders](
	[CustomerOrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ContractorID] [int] NOT NULL,
	[ManufacturerID] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Departments]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Manufacturers]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[ManufacturerID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Nomenclatures]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nomenclatures](
	[NomenclatureID] [int] IDENTITY(1,1) NOT NULL,
	[NomenclatureCode] [nvarchar](20) NOT NULL,
	[NomenclatureName] [nvarchar](255) NOT NULL,
	[NomenclatureTypeID] [int] NOT NULL,
	[UnitID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NomenclatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[NomenclatureTypes]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NomenclatureTypes](
	[NomenclatureTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NomenclatureTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Prices]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prices](
	[PriceID] [int] IDENTITY(1,1) NOT NULL,
	[NomenclatureID] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[EffectiveDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ProductionOrderMaterials]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionOrderMaterials](
	[ProductionOrderMaterialID] [int] IDENTITY(1,1) NOT NULL,
	[ProductionOrderID] [int] NOT NULL,
	[NomenclatureID] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductionOrderMaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ProductionOrderOperations]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionOrderOperations](
	[ProductionOrderOperationID] [int] IDENTITY(1,1) NOT NULL,
	[ProductionOrderID] [int] NOT NULL,
	[NomenclatureID] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductionOrderOperationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ProductionOrders]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionOrders](
	[ProductionOrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[NomenclatureID] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ExecutorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductionOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Roles]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[SpecificationComponents]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationComponents](
	[SpecificationComponentID] [int] IDENTITY(1,1) NOT NULL,
	[SpecificationID] [int] NOT NULL,
	[NomenclatureID] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecificationComponentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[SpecificationOperations]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationOperations](
	[SpecificationOperationID] [int] IDENTITY(1,1) NOT NULL,
	[SpecificationID] [int] NOT NULL,
	[NomenclatureID] [int] NOT NULL,
	[TimeNorm] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecificationOperationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Specifications]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifications](
	[SpecificationID] [int] IDENTITY(1,1) NOT NULL,
	[NomenclatureID] [int] NOT NULL,
	[ManufacturerID] [int] NOT NULL,
	[SpecificationNumber] [nvarchar](50) NOT NULL,
	[ApprovedBy] [nvarchar](255) NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Units]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
	[UnitCode] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 20.09.2026 17:25:12 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contractors] ON 

INSERT [dbo].[Contractors] ([ContractorID], [ContractorCode], [ContractorName], [INN], [Address], [Phone], [CreatedDate]) VALUES (1, N'000000001', N'ООО "Поставка"', NULL, N'г. Пятигорск', N'+79198634592', CAST(N'2026-09-16T22:20:28.0766667' AS DateTime2))
INSERT [dbo].[Contractors] ([ContractorID], [ContractorCode], [ContractorName], [INN], [Address], [Phone], [CreatedDate]) VALUES (2, N'000000002', N'ООО "Кинотеатр Квант"', N'26320045123', N'г. Железноводск, ул. Мира, 123', N'+79884581555', CAST(N'2026-09-16T22:20:28.0766667' AS DateTime2))
INSERT [dbo].[Contractors] ([ContractorID], [ContractorCode], [ContractorName], [INN], [Address], [Phone], [CreatedDate]) VALUES (3, N'000000008', N'ООО "Новый JDTO"', N'26320045111', N'г. Железноводск', N'+79884581555', CAST(N'2026-09-16T22:20:28.0766667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Contractors] OFF
GO
INSERT [dbo].[ContractorTypeLinks] ([ContractorID], [ContractorTypeID]) VALUES (1, 1)
INSERT [dbo].[ContractorTypeLinks] ([ContractorID], [ContractorTypeID]) VALUES (2, 2)
INSERT [dbo].[ContractorTypeLinks] ([ContractorID], [ContractorTypeID]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[ContractorTypes] ON 

INSERT [dbo].[ContractorTypes] ([ContractorTypeID], [TypeName]) VALUES (2, N'Покупатель')
INSERT [dbo].[ContractorTypes] ([ContractorTypeID], [TypeName]) VALUES (1, N'Поставщик')
SET IDENTITY_INSERT [dbo].[ContractorTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[CostCalculationMaterials] ON 

INSERT [dbo].[CostCalculationMaterials] ([CostCalculationMaterialID], [CostCalculationID], [NomenclatureID], [Quantity], [Price], [TotalAmount]) VALUES (1, 1, 6, CAST(0.024 AS Decimal(18, 3)), CAST(432.08 AS Decimal(18, 2)), CAST(10.37 AS Decimal(18, 2)))
INSERT [dbo].[CostCalculationMaterials] ([CostCalculationMaterialID], [CostCalculationID], [NomenclatureID], [Quantity], [Price], [TotalAmount]) VALUES (2, 1, 4, CAST(4.000 AS Decimal(18, 3)), CAST(37.50 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)))
INSERT [dbo].[CostCalculationMaterials] ([CostCalculationMaterialID], [CostCalculationID], [NomenclatureID], [Quantity], [Price], [TotalAmount]) VALUES (3, 1, 5, CAST(8.000 AS Decimal(18, 3)), CAST(17.13 AS Decimal(18, 2)), CAST(137.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CostCalculationMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[CostCalculationOperations] ON 

INSERT [dbo].[CostCalculationOperations] ([CostCalculationOperationID], [CostCalculationID], [NomenclatureID], [Quantity], [Price], [TotalAmount]) VALUES (1, 1, 9, CAST(2.00 AS Decimal(18, 2)), CAST(450.00 AS Decimal(18, 2)), CAST(900.00 AS Decimal(18, 2)))
INSERT [dbo].[CostCalculationOperations] ([CostCalculationOperationID], [CostCalculationID], [NomenclatureID], [Quantity], [Price], [TotalAmount]) VALUES (2, 1, 8, CAST(2.00 AS Decimal(18, 2)), CAST(1400.00 AS Decimal(18, 2)), CAST(2800.00 AS Decimal(18, 2)))
INSERT [dbo].[CostCalculationOperations] ([CostCalculationOperationID], [CostCalculationID], [NomenclatureID], [Quantity], [Price], [TotalAmount]) VALUES (3, 1, 10, CAST(2.00 AS Decimal(18, 2)), CAST(1900.00 AS Decimal(18, 2)), CAST(3800.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CostCalculationOperations] OFF
GO
SET IDENTITY_INSERT [dbo].[CostCalculations] ON 

INSERT [dbo].[CostCalculations] ([CostCalculationID], [NomenclatureID], [Quantity], [TotalCost], [CalculationDate]) VALUES (1, 1, CAST(2.000 AS Decimal(18, 3)), CAST(11448.12 AS Decimal(18, 2)), CAST(N'2026-04-23T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CostCalculations] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerOrderItems] ON 

INSERT [dbo].[CustomerOrderItems] ([CustomerOrderItemID], [CustomerOrderID], [NomenclatureID], [Quantity], [Price], [Discount], [TotalAmount]) VALUES (1, 1, 2, CAST(2.000 AS Decimal(18, 3)), CAST(14120.00 AS Decimal(18, 2)), CAST(1412.00 AS Decimal(18, 2)), CAST(26828.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CustomerOrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerOrders] ON 

INSERT [dbo].[CustomerOrders] ([CustomerOrderID], [OrderNumber], [OrderDate], [ContractorID], [ManufacturerID], [TotalAmount], [CreatedDate]) VALUES (1, N'1', CAST(N'2026-04-22' AS Date), 7, 1, CAST(26828.00 AS Decimal(18, 2)), CAST(N'2026-09-16T22:20:28.0800000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CustomerOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (1, N'Основное подразделение')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([ManufacturerID], [ManufacturerName]) VALUES (1, N'ООО ТД "Вершина"')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[Nomenclatures] ON 

INSERT [dbo].[Nomenclatures] ([NomenclatureID], [NomenclatureCode], [NomenclatureName], [NomenclatureTypeID], [UnitID]) VALUES (1, N'НФ-00000006', N'Стол кухонный "Самобранка"', 1, 1)
INSERT [dbo].[Nomenclatures] ([NomenclatureID], [NomenclatureCode], [NomenclatureName], [NomenclatureTypeID], [UnitID]) VALUES (2, N'ФР-00000034', N'Стол кухонный "Самобранка"', 1, 1)
INSERT [dbo].[Nomenclatures] ([NomenclatureID], [NomenclatureCode], [NomenclatureName], [NomenclatureTypeID], [UnitID]) VALUES (3, N'ФР-00000009', N'Столешница круглая', 2, 1)
SET IDENTITY_INSERT [dbo].[Nomenclatures] OFF
GO
SET IDENTITY_INSERT [dbo].[NomenclatureTypes] ON 

INSERT [dbo].[NomenclatureTypes] ([NomenclatureTypeID], [TypeName]) VALUES (2, N'Материал')
INSERT [dbo].[NomenclatureTypes] ([NomenclatureTypeID], [TypeName]) VALUES (1, N'Продукция')
INSERT [dbo].[NomenclatureTypes] ([NomenclatureTypeID], [TypeName]) VALUES (3, N'Технологическая операция')
SET IDENTITY_INSERT [dbo].[NomenclatureTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Prices] ON 

INSERT [dbo].[Prices] ([PriceID], [NomenclatureID], [Price], [EffectiveDate]) VALUES (1, 6, CAST(595.00 AS Decimal(18, 2)), CAST(N'2026-04-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Prices] ([PriceID], [NomenclatureID], [Price], [EffectiveDate]) VALUES (2, 4, CAST(95.00 AS Decimal(18, 2)), CAST(N'2026-04-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Prices] ([PriceID], [NomenclatureID], [Price], [EffectiveDate]) VALUES (3, 5, CAST(140.00 AS Decimal(18, 2)), CAST(N'2026-04-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Prices] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionOrderMaterials] ON 

INSERT [dbo].[ProductionOrderMaterials] ([ProductionOrderMaterialID], [ProductionOrderID], [NomenclatureID], [Quantity]) VALUES (1, 1, 3, CAST(2.000 AS Decimal(18, 3)))
INSERT [dbo].[ProductionOrderMaterials] ([ProductionOrderMaterialID], [ProductionOrderID], [NomenclatureID], [Quantity]) VALUES (2, 1, 4, CAST(4.000 AS Decimal(18, 3)))
INSERT [dbo].[ProductionOrderMaterials] ([ProductionOrderMaterialID], [ProductionOrderID], [NomenclatureID], [Quantity]) VALUES (3, 1, 5, CAST(8.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[ProductionOrderMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionOrderOperations] ON 

INSERT [dbo].[ProductionOrderOperations] ([ProductionOrderOperationID], [ProductionOrderID], [NomenclatureID], [Quantity]) VALUES (1, 1, 8, CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[ProductionOrderOperations] ([ProductionOrderOperationID], [ProductionOrderID], [NomenclatureID], [Quantity]) VALUES (2, 1, 9, CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[ProductionOrderOperations] ([ProductionOrderOperationID], [ProductionOrderID], [NomenclatureID], [Quantity]) VALUES (3, 1, 10, CAST(2.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ProductionOrderOperations] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionOrders] ON 

INSERT [dbo].[ProductionOrders] ([ProductionOrderID], [OrderNumber], [StartDate], [DepartmentID], [NomenclatureID], [Quantity], [CreatedDate], [ExecutorID]) VALUES (1, N'1', CAST(N'2026-04-23' AS Date), 1, 1, CAST(2.000 AS Decimal(18, 3)), CAST(N'2026-09-16T22:20:28.0800000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[ProductionOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Пользователь')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SpecificationComponents] ON 

INSERT [dbo].[SpecificationComponents] ([SpecificationComponentID], [SpecificationID], [NomenclatureID], [Quantity]) VALUES (1, 1, 3, CAST(1.000 AS Decimal(18, 3)))
INSERT [dbo].[SpecificationComponents] ([SpecificationComponentID], [SpecificationID], [NomenclatureID], [Quantity]) VALUES (2, 1, 4, CAST(2.000 AS Decimal(18, 3)))
INSERT [dbo].[SpecificationComponents] ([SpecificationComponentID], [SpecificationID], [NomenclatureID], [Quantity]) VALUES (3, 1, 5, CAST(4.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[SpecificationComponents] OFF
GO
SET IDENTITY_INSERT [dbo].[SpecificationOperations] ON 

INSERT [dbo].[SpecificationOperations] ([SpecificationOperationID], [SpecificationID], [NomenclatureID], [TimeNorm], [Quantity]) VALUES (1, 1, 8, CAST(0.75 AS Decimal(18, 2)), 1)
INSERT [dbo].[SpecificationOperations] ([SpecificationOperationID], [SpecificationID], [NomenclatureID], [TimeNorm], [Quantity]) VALUES (2, 1, 9, CAST(1.50 AS Decimal(18, 2)), 1)
INSERT [dbo].[SpecificationOperations] ([SpecificationOperationID], [SpecificationID], [NomenclatureID], [TimeNorm], [Quantity]) VALUES (3, 1, 10, CAST(0.50 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[SpecificationOperations] OFF
GO
SET IDENTITY_INSERT [dbo].[Specifications] ON 

INSERT [dbo].[Specifications] ([SpecificationID], [NomenclatureID], [ManufacturerID], [SpecificationNumber], [ApprovedBy], [CreatedDate]) VALUES (1, 1, 1, N'СП-001', N'Администратор', CAST(N'2026-09-16T22:20:28.0800000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Specifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([UnitID], [UnitName], [UnitCode]) VALUES (1, N'шт', N'шт')
INSERT [dbo].[Units] ([UnitID], [UnitName], [UnitCode]) VALUES (2, N'тыс. шт', N'тыс.шт')
INSERT [dbo].[Units] ([UnitID], [UnitName], [UnitCode]) VALUES (3, N'ч', N'ч')
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Login], [Password], [RoleID], [IsBlocked], [CreatedDate]) VALUES (1, N'admin', N'admin', 1, 0, CAST(N'2026-09-16T22:33:33.4500000' AS DateTime2))
INSERT [dbo].[Users] ([UserID], [Login], [Password], [RoleID], [IsBlocked], [CreatedDate]) VALUES (2, N'user', N'user', 2, 0, CAST(N'2026-09-16T22:33:33.4500000' AS DateTime2))
INSERT [dbo].[Users] ([UserID], [Login], [Password], [RoleID], [IsBlocked], [CreatedDate]) VALUES (3, N'admin_blocked', N'admin', 1, 1, CAST(N'2026-09-20T17:22:22.9366667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Contract__35685532E75EEFB9]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
ALTER TABLE [dbo].[Contractors] ADD UNIQUE NONCLUSTERED 
(
	[ContractorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Contract__D4E7DFA8343D3334]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
ALTER TABLE [dbo].[ContractorTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_CC_Nom]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
CREATE NONCLUSTERED INDEX [IX_CC_Nom] ON [dbo].[CostCalculations]
(
	[NomenclatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_CO_Contr]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
CREATE NONCLUSTERED INDEX [IX_CO_Contr] ON [dbo].[CustomerOrders]
(
	[ContractorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_CO_Date]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
CREATE NONCLUSTERED INDEX [IX_CO_Date] ON [dbo].[CustomerOrders]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Departme__D949CC3496A67EC4]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Manufact__3B9CDE2ED442A267]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
ALTER TABLE [dbo].[Manufacturers] ADD UNIQUE NONCLUSTERED 
(
	[ManufacturerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Nomencla__5BD5D15624C3DAD8]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
ALTER TABLE [dbo].[Nomenclatures] ADD UNIQUE NONCLUSTERED 
(
	[NomenclatureCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Nom_Type]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
CREATE NONCLUSTERED INDEX [IX_Nom_Type] ON [dbo].[Nomenclatures]
(
	[NomenclatureTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Nom_Unit]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
CREATE NONCLUSTERED INDEX [IX_Nom_Unit] ON [dbo].[Nomenclatures]
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Nomencla__D4E7DFA8F019C3FB]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
ALTER TABLE [dbo].[NomenclatureTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Prices_Nom]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
CREATE NONCLUSTERED INDEX [IX_Prices_Nom] ON [dbo].[Prices]
(
	[NomenclatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_PO_Nom]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
CREATE NONCLUSTERED INDEX [IX_PO_Nom] ON [dbo].[ProductionOrders]
(
	[NomenclatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_PO_StartDate]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
CREATE NONCLUSTERED INDEX [IX_PO_StartDate] ON [dbo].[ProductionOrders]
(
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Roles__8A2B6160EE8556FC]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Units__0665E6D999E4DD6D]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
ALTER TABLE [dbo].[Units] ADD UNIQUE NONCLUSTERED 
(
	[UnitCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Units__B5EE6678E3E0B7DC]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
ALTER TABLE [dbo].[Units] ADD UNIQUE NONCLUSTERED 
(
	[UnitName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__5E55825B0E7AE33C]    Дата создания скрипта: 20.09.2026 17:25:13 ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contractors] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CostCalculations] ADD  DEFAULT ((0)) FOR [TotalCost]
GO
ALTER TABLE [dbo].[CostCalculations] ADD  DEFAULT (getdate()) FOR [CalculationDate]
GO
ALTER TABLE [dbo].[CustomerOrderItems] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[CustomerOrders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[CustomerOrders] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Prices] ADD  DEFAULT (getdate()) FOR [EffectiveDate]
GO
ALTER TABLE [dbo].[ProductionOrders] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Specifications] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ContractorTypeLinks]  WITH CHECK ADD  CONSTRAINT [FK_CTL_Contractors] FOREIGN KEY([ContractorID])
REFERENCES [dbo].[Contractors] ([ContractorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractorTypeLinks] CHECK CONSTRAINT [FK_CTL_Contractors]
GO
ALTER TABLE [dbo].[ContractorTypeLinks]  WITH CHECK ADD  CONSTRAINT [FK_CTL_ContractorTypes] FOREIGN KEY([ContractorTypeID])
REFERENCES [dbo].[ContractorTypes] ([ContractorTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractorTypeLinks] CHECK CONSTRAINT [FK_CTL_ContractorTypes]
GO
ALTER TABLE [dbo].[CostCalculationMaterials]  WITH CHECK ADD  CONSTRAINT [FK_CCM_CC] FOREIGN KEY([CostCalculationID])
REFERENCES [dbo].[CostCalculations] ([CostCalculationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CostCalculationMaterials] CHECK CONSTRAINT [FK_CCM_CC]
GO
ALTER TABLE [dbo].[CostCalculationMaterials]  WITH CHECK ADD  CONSTRAINT [FK_CCM_Nom] FOREIGN KEY([NomenclatureID])
REFERENCES [dbo].[Nomenclatures] ([NomenclatureID])
GO
ALTER TABLE [dbo].[CostCalculationMaterials] CHECK CONSTRAINT [FK_CCM_Nom]
GO
ALTER TABLE [dbo].[CostCalculationOperations]  WITH CHECK ADD  CONSTRAINT [FK_CCO_CC] FOREIGN KEY([CostCalculationID])
REFERENCES [dbo].[CostCalculations] ([CostCalculationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CostCalculationOperations] CHECK CONSTRAINT [FK_CCO_CC]
GO
ALTER TABLE [dbo].[CostCalculationOperations]  WITH CHECK ADD  CONSTRAINT [FK_CCO_Nom] FOREIGN KEY([NomenclatureID])
REFERENCES [dbo].[Nomenclatures] ([NomenclatureID])
GO
ALTER TABLE [dbo].[CostCalculationOperations] CHECK CONSTRAINT [FK_CCO_Nom]
GO
ALTER TABLE [dbo].[CostCalculations]  WITH CHECK ADD  CONSTRAINT [FK_CC_Nom] FOREIGN KEY([NomenclatureID])
REFERENCES [dbo].[Nomenclatures] ([NomenclatureID])
GO
ALTER TABLE [dbo].[CostCalculations] CHECK CONSTRAINT [FK_CC_Nom]
GO
ALTER TABLE [dbo].[CustomerOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_COI_CO] FOREIGN KEY([CustomerOrderID])
REFERENCES [dbo].[CustomerOrders] ([CustomerOrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerOrderItems] CHECK CONSTRAINT [FK_COI_CO]
GO
ALTER TABLE [dbo].[CustomerOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_COI_Nom] FOREIGN KEY([NomenclatureID])
REFERENCES [dbo].[Nomenclatures] ([NomenclatureID])
GO
ALTER TABLE [dbo].[CustomerOrderItems] CHECK CONSTRAINT [FK_COI_Nom]
GO
ALTER TABLE [dbo].[CustomerOrders]  WITH CHECK ADD  CONSTRAINT [FK_CO_Contr] FOREIGN KEY([ContractorID])
REFERENCES [dbo].[Contractors] ([ContractorID])
GO
ALTER TABLE [dbo].[CustomerOrders] CHECK CONSTRAINT [FK_CO_Contr]
GO
ALTER TABLE [dbo].[CustomerOrders]  WITH CHECK ADD  CONSTRAINT [FK_CO_Manuf] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturers] ([ManufacturerID])
GO
ALTER TABLE [dbo].[CustomerOrders] CHECK CONSTRAINT [FK_CO_Manuf]
GO
ALTER TABLE [dbo].[Nomenclatures]  WITH CHECK ADD  CONSTRAINT [FK_Nom_NomTypes] FOREIGN KEY([NomenclatureTypeID])
REFERENCES [dbo].[NomenclatureTypes] ([NomenclatureTypeID])
GO
ALTER TABLE [dbo].[Nomenclatures] CHECK CONSTRAINT [FK_Nom_NomTypes]
GO
ALTER TABLE [dbo].[Nomenclatures]  WITH CHECK ADD  CONSTRAINT [FK_Nom_Units] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Units] ([UnitID])
GO
ALTER TABLE [dbo].[Nomenclatures] CHECK CONSTRAINT [FK_Nom_Units]
GO
ALTER TABLE [dbo].[Prices]  WITH CHECK ADD  CONSTRAINT [FK_Prices_Nom] FOREIGN KEY([NomenclatureID])
REFERENCES [dbo].[Nomenclatures] ([NomenclatureID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prices] CHECK CONSTRAINT [FK_Prices_Nom]
GO
ALTER TABLE [dbo].[ProductionOrderMaterials]  WITH CHECK ADD  CONSTRAINT [FK_POM_Nom] FOREIGN KEY([NomenclatureID])
REFERENCES [dbo].[Nomenclatures] ([NomenclatureID])
GO
ALTER TABLE [dbo].[ProductionOrderMaterials] CHECK CONSTRAINT [FK_POM_Nom]
GO
ALTER TABLE [dbo].[ProductionOrderMaterials]  WITH CHECK ADD  CONSTRAINT [FK_POM_PO] FOREIGN KEY([ProductionOrderID])
REFERENCES [dbo].[ProductionOrders] ([ProductionOrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionOrderMaterials] CHECK CONSTRAINT [FK_POM_PO]
GO
ALTER TABLE [dbo].[ProductionOrderOperations]  WITH CHECK ADD  CONSTRAINT [FK_POO_Nom] FOREIGN KEY([NomenclatureID])
REFERENCES [dbo].[Nomenclatures] ([NomenclatureID])
GO
ALTER TABLE [dbo].[ProductionOrderOperations] CHECK CONSTRAINT [FK_POO_Nom]
GO
ALTER TABLE [dbo].[ProductionOrderOperations]  WITH CHECK ADD  CONSTRAINT [FK_POO_PO] FOREIGN KEY([ProductionOrderID])
REFERENCES [dbo].[ProductionOrders] ([ProductionOrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionOrderOperations] CHECK CONSTRAINT [FK_POO_PO]
GO
ALTER TABLE [dbo].[ProductionOrders]  WITH CHECK ADD  CONSTRAINT [FK_PO_Dept] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[ProductionOrders] CHECK CONSTRAINT [FK_PO_Dept]
GO
ALTER TABLE [dbo].[ProductionOrders]  WITH CHECK ADD  CONSTRAINT [FK_PO_Nom] FOREIGN KEY([NomenclatureID])
REFERENCES [dbo].[Nomenclatures] ([NomenclatureID])
GO
ALTER TABLE [dbo].[ProductionOrders] CHECK CONSTRAINT [FK_PO_Nom]
GO
ALTER TABLE [dbo].[ProductionOrders]  WITH CHECK ADD  CONSTRAINT [FK_ProductionOrders_Users] FOREIGN KEY([ExecutorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProductionOrders] CHECK CONSTRAINT [FK_ProductionOrders_Users]
GO
ALTER TABLE [dbo].[SpecificationComponents]  WITH CHECK ADD  CONSTRAINT [FK_SC_Nom] FOREIGN KEY([NomenclatureID])
REFERENCES [dbo].[Nomenclatures] ([NomenclatureID])
GO
ALTER TABLE [dbo].[SpecificationComponents] CHECK CONSTRAINT [FK_SC_Nom]
GO
ALTER TABLE [dbo].[SpecificationComponents]  WITH CHECK ADD  CONSTRAINT [FK_SC_Spec] FOREIGN KEY([SpecificationID])
REFERENCES [dbo].[Specifications] ([SpecificationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpecificationComponents] CHECK CONSTRAINT [FK_SC_Spec]
GO
ALTER TABLE [dbo].[SpecificationOperations]  WITH CHECK ADD  CONSTRAINT [FK_SO_Nom] FOREIGN KEY([NomenclatureID])
REFERENCES [dbo].[Nomenclatures] ([NomenclatureID])
GO
ALTER TABLE [dbo].[SpecificationOperations] CHECK CONSTRAINT [FK_SO_Nom]
GO
ALTER TABLE [dbo].[SpecificationOperations]  WITH CHECK ADD  CONSTRAINT [FK_SO_Spec] FOREIGN KEY([SpecificationID])
REFERENCES [dbo].[Specifications] ([SpecificationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpecificationOperations] CHECK CONSTRAINT [FK_SO_Spec]
GO
ALTER TABLE [dbo].[Specifications]  WITH CHECK ADD  CONSTRAINT [FK_Spec_Manuf] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturers] ([ManufacturerID])
GO
ALTER TABLE [dbo].[Specifications] CHECK CONSTRAINT [FK_Spec_Manuf]
GO
ALTER TABLE [dbo].[Specifications]  WITH CHECK ADD  CONSTRAINT [FK_Spec_Nom] FOREIGN KEY([NomenclatureID])
REFERENCES [dbo].[Nomenclatures] ([NomenclatureID])
GO
ALTER TABLE [dbo].[Specifications] CHECK CONSTRAINT [FK_Spec_Nom]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[CostCalculationMaterials]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[CostCalculationMaterials]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[CostCalculationOperations]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[CostCalculationOperations]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[CostCalculations]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[CustomerOrderItems]  WITH CHECK ADD CHECK  (([Discount]>=(0)))
GO
ALTER TABLE [dbo].[CustomerOrderItems]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[CustomerOrderItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Prices]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[ProductionOrderMaterials]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ProductionOrderOperations]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ProductionOrders]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SpecificationComponents]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SpecificationOperations]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SpecificationOperations]  WITH CHECK ADD CHECK  (([TimeNorm]>(0)))
GO
USE [master]
GO
